<div align="center">
  <div>
    <h1>ImageUpload :: UserList</h1>
  </div>
  <div style="margin: 20px 70px 10px 70px">
    <table class="table">
      <tread>
        <tr>
          <th>ユーザID</th>
          <th>ログインID</th>
          <th>メールアドレス</th>
          <th>権限</th>
        </tr>
      </tread>
        <% @users.each do |f| %>
          <tbody>
            <td><%= f.id %></td>
            <td><%= link_to "#{f.login_id}", {:action => :show, :id => f.id} %></td>
            <td><%= f.email %></td>
            <% if f.is_admin != nil %>
              <td><%= "あり" %></td>
            <% else %>
              <td><%= "なし" %></td>
            <% end %>
          </tbody>
        <% end %>
    </table>
  </div>
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to '一覧表示へ戻る', images_path, class: "btn btn-success btn-lg btn-block" %>
</div>
