<div align="center">
  <h1>ImageUpload :: Post</h1>
</div>
<div class="container-fluid" style="padding: 10px 20px 10px 20px">
  <%= form_for @img do |f| %>
  <div style="margin: 10px 0px 10px 0px">
    <h4>タイトル</h4>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div style="margin: 10px 0px 10px 0px">
    <h4>画像</h4>
    <%= f.file_field :file, accept: "image/jpeg" %>
  </div>
  <div class="container-fluid" style="padding: 20px 10px 15px 20px">
    <%= f.submit :value => "投稿", :class => "btn btn-primary btn-lg btn-block" %>
  </div>
    <div class="container-fluid" style="padding: 20px 10px 15px 20px">
  <%= link_to '一覧表示へ戻る', images_path, class: "btn btn-danger btn-lg btn-block", data: {confirm: "変更は破棄されます。よろしいですか？"} %>
    </div>
  <% end %>
</div>
