<div align="center">
  <div>
    <h1>ImageUpload :: User</h1>
    <h3><%= @username %> さんのMyページ</h3>
    <hr>
    <p><%= @userbio %></p>
    <hr>

    <div style="margin: 20px 70px 10px 70px">
      <h4>投稿作品</h4>
      <table class="table">
        <tread>
          <th>作品ID</th>
          <th>タイトル</th>
          <th>投稿日時</th>
        </tread>
        <tbody>
          <% if @userimg != nil %>
            <% @userimg.each do |f| %>
              <tr>
                <td><%= f[:id] %></td>
                <td><%= link_to "#{f[:title]}", image_path(f[:id]) %></td>
                <td><%= f[:updated_at] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to '一覧表示へ戻る', images_path, class: "btn btn-success btn-lg btn-block" %>
  </div>

  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to 'ユーザ情報を変更する', edit_user_path(@user.id), class: "btn btn-warning btn-lg btn-block" %>
  </div>

  
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= link_to 'ログアウトする', login_path, class: "btn btn-danger btn-lg btn-block", data: { :confirm => 'ログアウトします。よろしいですか？' }, :method => :delete %>
  </div>


</div>
