<div align="center">
  <h1>ImageUpload :: PostEdit</h1>
  <h4><font color="red"><strong><%= notice %></strong></font></h4>
</div>
<div class="container-fluid" style="padding: 10px 20px 10px 20px">
  <%= form_for @img do |f| %>
  <div style="margin: 10px 0px 10px 0px">
    <h4>タイトル</h4>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="container-fluid" style="padding: 10px 20px 10px 20px">
    <%= f.submit :value => "変更を保存する", :class => "btn btn-primary btn-lg btn-block", data: {confirm: "変更を保存します。よろしいですか？"} %>
  </div>
    <div class="container-fluid" style="padding: 10px 20px 10px 20px">
  <%= link_to '一覧表示へ戻る', images_path, class: "btn btn-danger btn-lg btn-block", data: {confirm: "変更は破棄されます。よろしいですか？"} %>
    </div>
  <% end %>
</div>
