<div align="center">
  <h1>ImageUpload :: Main</h1>
  <h4><font color="red"><strong><%= notice %></strong></font></h4>
</div>

  <% if current_user != nil %>
    
    <div class="container-fluid" style="padding: 10px 20px 10px 20px">
      <%= link_to '画像を新規投稿する', new_image_path, class: "btn btn-primary btn-lg btn-block"%>
    </div>
    <div class="container-fluid" style="padding: 10px 20px 10px 20px">
      <%= link_to 'Myページ', user_path(@userid), class: "btn btn-success btn-lg btn-block"%>
    </div>

    <div class="container-fluid" style="padding: 10px 20px 10px 20px">
      <%= link_to 'ログアウトする', login_path, class: "btn btn-danger btn-lg btn-block", data: { :confirm => 'ログアウトします。よろしいですか？' }, :method => :delete %>
    </div>
    
  <% end %>
<div class="container-fluid" style="padding: 20px 10px 15px 20px">
  <div align="center">
    <% @imgs.reverse_each do |item| %>
    <div>
      <h3><%= item.title %></h3>
    </div>
    <div>
      <%= link_to image_tag("#{item.thumbnail_path}"), image_path(item.id)%>
    </div>
    <div>
      <small>Posted by <%= link_to "#{User.find(item.author_id)[:login_id]}", user_path(item.author_id) %></small>
    </div>
    <div>
      <small><%= "#{item.updated_at}" %></small>
    </div>
    <hr />
    <% end %>
  </div>
</div>
