<div class="container">
  <div class="row">
    <h1 class="text-center">ImageUpload :: Main</h1>
    <h4 class="text-center">
      <font color="red">
        <strong><%= notice %></strong>
      </font>
    </h4>
    <div class="col-xs-0 col-sm-1 col-md-1"></div>
    <div class="col-xs-12 col-sm-10 col-md-10">

      <% if current_user != nil %>
      <p><%= link_to '画像を新規投稿する', new_image_path, class: "btn btn-primary btn-lg btn-block"%></p>
      <p><%= link_to 'Myページ', user_path(@userid), class: "btn btn-success btn-lg btn-block"%></p>
      <% if @user[:is_admin] == true %>
      <p><%= link_to 'ユーザ一覧ページ', users_path, class: "btn btn-warning btn-lg btn-block"%></p>
      <% end %>
      <p><%= link_to 'ログアウトする', login_path, class: "btn btn-danger btn-lg btn-block", data: { :confirm => 'ログアウトします。よろしいですか？' }, :method => :delete %></p>
      <% end %>
      <% @imgs.reverse_each do |item| %>
      <p><h3><%= item.title %></h3></p>
      <p><%= link_to image_tag("#{item.thumbnail_path}"), image_path(item.id)%></p>
      <p><small>Posted by <%= link_to "#{User.find(item.author_id)[:login_id]}", user_path(item.author_id) %></small></p>
      <p><small><%= "#{item.updated_at}" %></small></p>
      <hr />
      <% end %>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1"></div>
  </div>
</div>
