
<h1>画像の新規投稿</h1>

<div class="container-fluid" style="padding: 20px 10px 15px 20px">
  <%= link_to '新規登録', new_image_path, class: "btn btn-primary btn-lg btn-block"%>
</div>
<div class="container-fluid" style="padding: 20px 10px 15px 20px">
  <div>
    <% @imgs.each do |item| %>
    <div>
      <%= item.title %>
    </div>
    <div>
      <%= "画像 #{item.path}"  %>
    </div>
    <div>
      <%= "作成者 #{item.author_id}" %>
    </div>
    <div>
      <%= item.updated_at %>
    </div>
    <hr />
    <% end %>
  </div>
</div>
